.wrapper {
    border: 2px solid rgb(131, 236, 105);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    margin-top: 1%;
    width: 70%;
    height: 1800px;
}

.container {
    border: 2px solid rgb(230, 21, 21);
    background-color: rgb(224, 236, 243);
    display: flex;
    justify-content: space-evenly;
}