.wrapper {
    border: 2px solid rgb(201, 102, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    margin-top: 2%;
    background-color: whitesmoke;
    /* padding: 4% 2%; */
}

.title {
    width: 98%;
    height: 60px;
    font-size: 1.5rem;
    margin: 1%;
}

.uploadContainer {
    border: 2px solid rgb(32, 80, 88);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 300px;
    color: rgb(64, 108, 136);
}

.upload {
    width: 30%;
    height: 40px;
    margin: 2%;
}