.wrapper {
    border: 2px solid rgb(201, 102, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    margin-top: 2%;
    background-color: whitesmoke;
    /* padding: 4% 2%; */
}

.title {
    width: 98%;
    height: 60px;
    font-size: 1.5rem;
    margin: 1%;
}

.textarea {
    width: 98%;
    height: 200px;
    font-size: 1.2rem;
    margin: 1%;
}

.submit {
    width: 30%;
    height: 40px;
    margin: 2%;
}