.wrapper {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.logo {
    filter: invert(1) sepia(1) saturate(3) hue-rotate(280deg);
    width: 40%;
    height: 60px;
}

.h1 {
    display: inline;
    margin-left: 8%;
}