.subHeader {
    border: 2px solid rgb(182, 105, 105);
    width: 100%;
    height: 300px;
    display: flex;
    padding-top: 12%;
    padding-left: 10%;
    background-image: linear-gradient(rgb(212, 102, 102), rgb(111, 177, 194));
}

.subTitle {
    color: white;
}

.logo {
    filter: invert(1) sepia(1) saturate(3) hue-rotate(119deg);
    width: 80px;
    height: 80px;
    margin-right: 5px;
}